body {
    box-sizing: border-box;
    background-image: url(../images/nature.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    text-align: center;
    background-image: linear-gradient(to right, rgb(56, 73, 48) , rgb(86, 92, 0));
    opacity: 0.8;
}

.app-title {
    font-size: 45px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
}

.search-card {
    float: left;
}


main {
    padding-top: 20px;
}

.from-label {
    display: block;
}

.btn {
  margin-top: 10px;
}

.btn-storage {
    border-radius: 15px;
}

#form-header {
    font-size: 20px;
}

.result-card-main {
    float: right;
}

.li-el-results {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 15px;
    border: solid 2px rgb(0, 0, 0);
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
}

.li-el-results:hover {
    cursor: pointer;
}

.previous-results {
    padding-left: 0px;
}

.main-result {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
}

.card-result p {
    padding-left: 5px;
}

.header-result {
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

.green {
    background-color: rgb(124, 189, 124);
    border-radius: 15px;
}

.orange {
    background-color: rgb(211, 174, 104);
    border-radius: 15px;
}

.red {
    background-color: rgb(236, 129, 129);
    border-radius: 15px;
}

.header-forecast {
    font-size: 30px;
}

.card-mini {
    margin: 0;
    display: inline;
    background-color: rgb(190, 190, 132);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}

#forecast-header {
    font-size: 15px;
    font-weight: bold;
}

.p-forecast {
    font-size: 12px;
}
