body {
    box-sizing: border-box;
    background-image: url(../images/nature.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    padding-top: 20px;
}

/*Header*/
header {
    display: flex;
    text-align: center;
    background-image: linear-gradient(to right, rgb(56, 73, 48) , rgb(86, 92, 0));
    opacity: 0.8;
}

.app-title {
    font-size: 45px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Form Element for search*/
.search-card {
    float: left;
    text-align: center;
}

#form-header {
    font-size: 19px;
}

#city {
  background-color: rgb(244, 253, 255);
  border: 1px black solid;
  border-radius: 2px;
}

.from-label {
    display: block;
}

.btn {
  margin-top: 10px;
}

/*List elements which get appended when a city is searched*/
.li-el-results {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 15px;
    border: solid 2px rgb(0, 0, 0);
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
    transition: 0.3s;
}

.li-el-results:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(216, 255, 108);
    border: rgb(0, 0, 0) 2px solid;
}

/*Button to clear local storage*/
.btn-storage {
    border-radius: 15px;
}

/*Big container for main result*/
.result-card-main {
    float: right;
}

.previous-results {
    padding-left: 0px;
}

.card-result {
    opacity: 0.92;
}

.header-result {
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

.p-main-container {
    font-size: 17px;
}

.main-result {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
}

.p-span {
    font-weight: bolder;
}

.uv-span {
   font-weight: normal;
}

.card-result p {
    padding-left: 5px;
}

.green {
    background-color: rgb(79, 214, 79);
    border-radius: 15px;
    padding: 8px;
}

.yellow {
    background-color: yellow;
    border-radius: 15px;
    padding: 8px;
}

.orange {
    background-color: rgb(252, 174, 30);
    border-radius: 15px;
    padding: 8px;
}

.red {
    background-color: rgb(233, 73, 73);
    border-radius: 15px;
    padding: 8px;
}

.purple {
    background-color: rgb(214, 81, 214);
    border-radius: 15px;
    padding: 8px;
}

/*Forecast container and cards*/
.header-forecast {
    font-size: 30px;
}

.card-mini {
    margin: 0;
    display: inline;
    background-color: rgb(190, 190, 132);
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(141, 141, 141);
}

#forecast-header {
    font-size: 15px;
    font-weight: bold;
}

.p-forecast {
    font-size: 12px;
}

/*Responsive Layout*/
@media screen and (max-width:992px){
    .btn-storage {
        margin-bottom: 15px;
    }

    .search-card {
        margin: auto;
        text-align: center;
    }

    .mini-card-container {
        text-align: center;
    }
}

@media screen and (max-width:768px){
    #forecast-header {
       font-size: 20px;
    }

    .card-mini {
        box-shadow: none;
    }

    .p-forecast {
        font-size: 15px;
    }

    .card-mini {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px){
    #forecast-header {
       font-size: 25px;
    }

    .p-forecast {
        font-size: 20px;
    }

    .card-mini {
        margin-bottom: 15px;
    }
}

